:root {
  --color-dark-gray: #10100e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #ff0;
  --color-violet: #ae72c2;
  --color-red: #f75d83;

  --max-width: 1200px;

  --border-radius-small: 3px;
  --border-radius-medium: 5px;

  --font-bold: 600;

  --spacing-ultrasmall: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --spacing-big: 100px;

  --margin-list: 7px;

  --transition: .4s;

  --font-size-main: 16px;
  --font-size-subheader: 18px;
  --font-size-header: 26px;

  --theme-default-bgimage: url("static/bg.jpg");
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-main);
  background-color: var(--color-dark-gray);
  font-family: sans-serif;
  background-image: var(--theme-default-bgimage);
  background-repeat: no-repeat;
}

img {
  display: block;
}

.App {
  max-width: var(--max-width);
  margin: 0 auto;
}

.Title {
  line-height: 1.7;
  font-size: var(--font-size-header);
  transition: color var(--transition);
  color: #cccc46;
}